*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-family: 'Avenir', 'helvetica neue', helvetica, arial, sans-serif;

  color-scheme: light dark;

  --background-light: #fff;
  --background-dark: #242424;

  --color-light: #213547;
  --color-dark: #ffffffde;

  --background: light-dark(var(--background-light), var(--background-dark));
  --color: light-dark(var(--color-light), var(--color-dark));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  color: var(--color);
  background-color: var(--background);
}

#app {
  margin: auto;
}
